<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {% include 'componentes/nav_admin.html' %}
    <main>
        <h1>GESTION DE RESERVAS</h1>
        <div class="container">
            {% for reserva in reservas %}
            <div class=" row border p-1 ">  
            <div class="col-md-12 col-lg-4 col-12 bg-primary">{{ reserva[ 'nombre'] }} {{ reserva['apellido']}}</div>
            <div class="col-md-12 col-lg-4 col-12 bg-secondary">Fechas: {{ reserva[ 'fecha_ingreso'] }} - {{ reserva['fecha_salida']}}</div>
            <div class="col-md-12 col-lg-4 col-12 bg-primary">
            <ul>
                {% for habitacion in reserva['habitaciones']%}
                <li>{{habitacion['nombre']}} -valor: {{ habitacion['valor']}} -cantidad: {{habitacion['cantidad']}}  </li>
                {% endfor %}
            </ul >
        </div>
        <!--REEMPLAZA ESTE DIV POR CODIGO-->
        <div class="col-md-12 col-lg-14 col-12 bg-tertiary">
            {{ reserva['estado']}}
        <form action="/estado_reserva" method="post">
            <input type="text" hidden name="reserva_id" 
                value ="{{ reserval['_id'] }}" />
            <input type="submit" value="Aceptada" />
        </form>
        </div>
            <div class="col-md-12 col-lg-4 col-12 bg-tertiary">Estado:{{ reserva[ 'estado'] }}</div>
        </div>
            {% endfor %}
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>