<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion_Contacto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body >
    {% include 'componentes/nav.html' %}
    <main>
        <h1 class="container">GESTION DE MENSAJES</h1>
        <div class="container">
            {% for mensaje in mensajes %}
            <div class="row border p-1">
                <div class="row col-md-9 col-12">
                    <div class="col-md-12 col-lg-4 col-12">{{ mensaje['asunto'] }}</div>
                    <div class="col-md-6 col-lg-4 col-12">{{ mensaje['nombre'] }} {{ mensaje['apellido'] }}</div>
                    <div class="col-md-6 col-lg-4 col-12">{{ mensaje['correo'] }}</div>
                    <div class="col-12">{{ mensaje['mensaje'] }}</div>
                </div>
                <div class="colmy-auto">
                    {{ mensaje['estado'] }}
                    <input type="submit" value="Respondido">
                </div>
            </div>

        {% endfor %}

        </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>